body {
 font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    
    overflow-x: hidden;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background-color: #333; 
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 1rem;
  position: relative;
  right: 100px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  position: relative;
}

.nav-links a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
  background: #fff;
}


.dropdown {
  position: relative;
  bottom: 15px;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -50px; 
  background: #333;
  padding: 10px;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-content a:hover {
  background-color: #555; 
}

.nav-links li:nth-child(2) {
  margin-right: 0;
}
.logo img{
  max-width:150px;
  max-height:100px;
  
}



.celular-image {
  flex: 1;
  max-width: 50%; 
  align-items: center;
  justify-content: center;
}
.celular-image img {
  width: 100%; 
  max-width: 375px; 
  max-height: 666px; 
  height: auto; 
}



.how-it-works {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 50px;
  color:#000000;
  background-color: #fff;
  max-height: 500px;
}



.image-section {
  flex: 1;
}

.text-section {
  flex: 1;
  max-width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 20px;
}
.text-section p{
  flex: 1;
  max-width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 50px;
  font-size: 20px;
}

.text-section ul{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.text-section h2{
  justify-content: center;
  font-size: 36px;
  padding-left: 50px;
}

.text-section ul li {
  list-style-type: none;
  padding-left: 1em; 
}

.text-section ul li::before {
  content: '\2022'; 
  color: #417843; 
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}
.image-section img {
  max-width:250px;
  max-height:500px;
  width: auto;
  height: auto;
  margin-left: 800px;
}
.download-section {
  flex: 1;
  max-width: 50%;
  margin-top: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.download-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-size: 36px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.download-section p {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: #000000;
}

.buttons {
  display: flex;
  
}

.download-button {
  background-color: #4caf50; 
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.download-button:last-child {
  margin-right: 0;
}

.download-buttons {
  display: flex;
  gap: 10px;
}

.download-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #2f754d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.main-section {
  background: linear-gradient(-45deg, rgba(64, 150, 101,0.5), rgba(28, 87, 53,0.5), rgba(47, 117, 77,0.5),rgba(74, 165, 144,0.5));
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.side-by-side {
  display: flex;

  justify-content: space-between;
  width: 80%; 
  margin: 20px; 

}

.one{
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* Estilos específicos para telas menores, como dispositivos móveis */
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .dropdown-content {
    left: 0;
  }

  .main-section {
    padding: 20px;
  }

  .how-it-works {
    flex-direction: column;
  }

  .image-section img,
  .download-section {
    max-width: 100%;
  }

  .text-section {
    max-width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  .image-section img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .download-section {
    margin-top: 20px;
  }
}

.policyText p{
  padding: 24px;
  margin-right: 500px 0 500px 0;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: clip;
  max-width: 50%;
  text-align: center;
}
.policyText h1{
  font-family: 'Open Sans', sans-serif;
}

  