body {
 font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, rgba(64, 150, 101,0.5), rgba(28, 87, 53,0.5), rgba(47, 117, 77,0.5),rgba(74, 165, 144,0.5));
  color: #000000;
  background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    
    overflow-x: hidden;
  
}
nav {
  display: flex;
  justify-content: space-around;
  text-orientation: right;
  padding: 10px;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 8px 0;
  transition: background-color 0.3s;
}

.dropdown-content li a:hover {
  background-color: #f0f0f0;
}

.home-page {
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  padding: 2rem;
}


.celular-image {
  flex: 1;
  max-width: 50%; /* Divide o tamanho igualmente com o outro componente */
  display: flex;
  align-items: center;
  justify-content: center;
}
.celular-image img {
  width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  max-width: 375px; /* Tamanho máximo da imagem */
  max-height: 666px; /* Tamanho máximo da imagem */
  height: auto; /* Mantém a proporção da imagem */
}



.how-it-works {
  text-align: center;
  margin-top: 20px; 
  }

.download-section {
  flex: 1;
  max-width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.download-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-size: 36px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.download-section p {
  font-size: 1rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: #000000;
}

.buttons {
  display: flex;
  
}

.download-button {
  background-color: #4caf50; 
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.download-button:last-child {
  margin-right: 0;
}

.download-buttons {
  display: flex;
  gap: 10px;
}

.download-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #2f754d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


footer {
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
 
}

.how-it-works{
  color:#f9f9f9;
  background-color: #fff;
}