body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    font-size: 2.5rem;
    text-align: center
}
p{
    color: black;
    margin: 20px;
    line-height: 1.5;
  margin-bottom: 15px;
}

h1, h2{
    color: #124227
}